.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2 rem;
    background-color: #001011;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffff;
}

.logo{
    height: 50px;
    margin-right: 0.15rem;
    margin-left: 1.25rem;
    animation: girar 3s linear infinite;
}

.slogan{
    font-size: 1.2rem;
    font-weight: 300;
}

.header-right{
    display: flex;
    gap: 1rem;
}

.auth-button {
    padding: 0.5rem 1.5rem;
    border: 2px solid #97C8EB;
    background: transparent;
    color: #abd4f1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auth-button:hover {
    background-color: #6697ca;
    color: white;
}

#link{
  padding: 0.5rem 1.5rem;
  border: 2px solid #97C8EB;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #abd4f1;
  margin-right: 2rem;
}

.user-info .auth-button{
  margin-left: 2rem;
}

.header-right{
  margin-right: 2rem;
}


@media (max-width: 768px) {
    .main-header {
      padding: 0 1rem;
      height: 60px;
    }
    
    .logo {
      height: 40px;
    }
    
    .slogan {
      font-size: 0.9rem;
    }
    
    .auth-button {
      padding: 0.3rem 1rem;
      font-size: 0.9rem;
    }
  }


  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }